<section id="task">
    <div class="task-title-wrap p-4">

        <div class="d-flex justify-content-between">
            <div class="emp-task">
                <h2>{{name}}s' tasks</h2>
            </div>
            <div class="add-task ">
                <button class="btn btn-primary">Add task</button>
            </div>
        </div>
        <div>
            <ul class="list-group">
                @for (task of selectedUserTasks; track task.id) {
                    <li>
                    <app-task [task]="task"/>
                    </li>
                }
                    
               
            </ul>
        </div>
    </div>


</section>
