/* You can add global styles to this file, and also import other style files */
.btn.btn-primary{
    background: #c09edf;
    color: #150426;
    font-size: 1.2rem;
    font-weight: 600;
    border: 0 !important;
}